/******* BASE STYLES START (common styles seen throughout the website)*******/
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: $lightPurple;
}

img {
    max-width: 100%;
    min-width: 100%;
    display: block;
}

button {
    background-color: $yellow;
    border: 2px solid $yellow;
    padding: 19px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 22px;
    letter-spacing: 1px;
    color: $darkGrey;
    display: block;
    width: 40%;
    transition: 1s ease;

    &:hover,
    &:focus {
        background-color: transparent;
        color: $yellow;
    }
}

/******* BASE STYLES END *******/