header {
    background-color: $darkPurple;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.headerInfo{
    display: flex;
    justify-content: center;
    .headerImage{
        flex-basis: 30%;
        align-self: flex-end;
    }
}