@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 900;
  line-height: 8vw;
  letter-spacing: 1px;
}
h1 .oneLine {
  display: block;
}
h1 .changeColor {
  color: #f7dc39;
}

h2 {
  font-size: 1rem;
  color: #8081be;
  text-transform: uppercase;
}

h3 {
  font-size: 0.9rem;
  color: #8081be;
  text-transform: uppercase;
  border-bottom: solid 1px;
}

p {
  font-size: 0.7rem;
  color: #8081be;
}

/******* BASE STYLES START (common styles seen throughout the website)*******/
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #b4b4da;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: #f7dc39;
  border: 2px solid #f7dc39;
  padding: 19px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 22px;
  letter-spacing: 1px;
  color: #383838;
  display: block;
  width: 40%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
button:hover, button:focus {
  background-color: transparent;
  color: #f7dc39;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

/******* BASE STYLES END *******/
/******* HEADER STYLES START *******/
header {
  background-color: #8081be;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.headerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerInfo .headerImage {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}
.headerInfo .headerImage .bottomOfTray {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.headerInfo .headerImage .topOfTray {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.headerInfo .headerImage .topOfTray:hover {
  bottom: 105px;
}
.headerInfo .headerImage .hamburger {
  position: absolute;
  width: 30%;
  position: absolute;
  bottom: 20px;
  right: 36%;
}

/******* HEADER STYLES END *******/
/******* FORM STYLES START *******/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form input {
  width: 100%;
  padding: 18px 30px;
  margin: 50px 0 0;
  border-radius: 30px;
  border: none;
  color: #383838;
  font-weight: 300;
  font-size: 1rem;
}
form input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #898989;
}
form input::-moz-placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #898989;
}
form input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #898989;
}
form input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #898989;
}
form input::placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #898989;
}
form button {
  margin-top: 15px;
}

/******* ERROR MESSAGE STYLES START *******/
.errorMessage {
  color: white;
  margin: 10px 0;
  padding: 0 0 0 30px;
  min-width: 100%;
  font-size: 0.8rem;
}

/******* ERROR MESSAGE STYLES END *******/
/******* FORM STYLES END *******/
/******* RESULT SECTION STYLES START *******/
main {
  position: relative;
  padding: 50px 0;
}

/******* RECIPE CARD STYLES START *******/
.recipeResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.recipeResults li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #e8eaf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
.recipeResults li:hover, .recipeResults li:focus {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  scale: 1.05;
}
.recipeResults li img {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  border-radius: 10px 10px 0 0;
}

.recipeContent {
  padding: 10px;
}

/******* RECIPE CARD STYLES END *******/
/******* POP UP STYLES START *******/
.modalBackdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.modalBackdropHidden {
  display: none;
}

.modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e8eaf9;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  z-index: 2;
}
.modalContainer .modalText {
  -ms-flex-preferred-size: calc(60% - 20px);
      flex-basis: calc(60% - 20px);
  margin: 0 20px;
}
.modalContainer .modalText h2 {
  font-size: 1.5rem;
}
.modalContainer .modalText p {
  color: #383838;
  line-height: 1rem;
  margin: 10px 0;
}
.modalContainer .modalText p a {
  color: #383838;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.modalContainer .modalText p a:hover, .modalContainer .modalText p a:focus {
  color: #8081be;
}
.modalContainer .modalText ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.modalContainer .modalText ul li {
  margin: 0;
  color: #383838;
  list-style: disc;
  line-height: 1rem;
  margin: 0 0 0 15px;
  font-size: 0.7rem;
}
.modalContainer img {
  min-width: 40%;
  max-width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modalContainer .exitButton {
  display: contents;
  color: #8081be;
}
.modalContainer .exitButton:hover, .modalContainer .exitButton:focus {
  color: #f7dc39;
}

/******* POP UP STYLES END *******/
/******* RESULT SECTION STYLES END *******/
/******* FOOTER STYLES START *******/
footer {
  background-color: #b4b4da;
  text-align: center;
  border-top: 1px #8081be solid;
  padding: 10px 0;
  color: #8081be;
  font-weight: 300;
}

/******* FOOTER STYLES END *******/
/****************** MEDIA QUERY FOR LARGE SCREENS START ******************/
@media (min-width: 2800px) {
  /******* TYPOGRAPHY STYLES START - LARGE SCREENS *******/
  h1 {
    font-size: 4vw;
    line-height: 4vw;
  }

  /******* TYPOGRAPHY STYLES END - LARGE SCREENS *******/
}
/****************** MEDIA QUERY FOR LARGE SCREENS END ******************/
/****************** MEDIA QUERY FOR TABLET START ******************/
@media (max-width: 900px) {
  /******* HEADER STYLES START - TABLET SCREENS *******/
  .headerInfo .headerImage {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }

  /******* HEADER STYLES END- TABLET SCREENS *******/
  /******* FORM STYLES START - TABLET SCREENS *******/
  form input {
    padding: 10px 16px;
    margin-top: 28px;
  }

  button {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }

  /******* FORM STYLES END - TABLET SCREENS *******/
}
/****************** MEDIA QUERY FOR TABLET END ******************/
/****************** MEDIA QUERY FOR MOBILE START ******************/
@media (max-width: 600px) {
  h1 {
    font-size: 12vw;
    line-height: 12vw;
    text-align: center;
  }

  /******* HEADER STYLES START - MOBILE SCREENS *******/
  header {
    padding-bottom: 50px;
  }

  .headerInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .headerInfo .headerImage {
    margin: 31px 0;
    min-width: 40%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .headerInfo .headerImage .topOfTray {
    bottom: 12px;
  }
  .headerInfo .headerImage .topOfTray:hover {
    bottom: 65px;
  }
  .headerInfo .headerImage .hamburger {
    bottom: 12px;
  }

  /******* HEADER STYLES END - MOBILE SCREENS *******/
  /******* FORM STYLES START - MOBILE SCREENS *******/
  form input {
    padding: 8px 16px;
    margin-top: 28px;
  }
  form input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  form input::-moz-placeholder {
    font-size: 0.8rem;
  }
  form input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  form input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  form input::placeholder {
    font-size: 0.8rem;
  }

  /******* FORM STYLES END - MOBILE SCREENS *******/
  /******* RESULTS SECTION STYLES START - MOBILE SCREENS *******/
  section {
    margin: 50px 0;
  }

  /******* RECIPE CARD STYLES START - MOBILE SCREENS *******/
  .recipeResults {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipeResults li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .recipeResults li img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .recipeResults li h2 {
    font-size: 0.8rem;
  }
  .recipeResults li p {
    font-size: 0.6rem;
  }

  /******* RECIPE CARD STYLES END - MOBILE SCREENS *******/
  /******* POP UP STYLES START - MOBILE SCREENS *******/
  .modalContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modalContainer .modalText {
    margin: 0;
  }
  .modalContainer img {
    min-width: 100%;
    max-width: 100%;
  }
  .modalContainer .exitButton {
    border-top: solid 1px #8081be;
    padding-top: 10px;
    margin-top: 10px;
  }
  .modalContainer .exitButton i {
    border-top: solid 1px #8081be;
    padding-top: 10px;
    margin-top: 10px;
  }

  /******* POP UP STYLES END - MOBILE SCREENS *******/
  /******* RESULTS SECTION STYLES END - MOBILE SCREENS *******/
}
/****************** MEDIA QUERY FOR MOBILE END ******************/